$fonts-headline: 'Berkshire Swash', cursive;;
$fonts-body: 'Dosis', arial, sans-serif;
$background-color: #daede2;
$primary: #47682C;
$accent1: #E59500;
$accent2: #792359;
$grey-sidebar: #bb8a89;
$text-dark: #124559;
$text-light: #fff;
